{% extends 'base.html.twig' %}

{% block title %}Etablissements{% endblock %}

{% block body %}
    <h1>Liste des établissements</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for etablissement in etablissements %}
        {% if etablissement.actif == 1 %}
        <div class="col">
            <div class="card">
                <img src="https://www.parchotel-alsace.com/fr/img/slideshow_xlarge/1070_main.jpeg" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ path("app_etablissements") }}">{{ etablissement.nom }}</a></h5>
                    <p class="card-text">{{ etablissement.description | slice(0,75) }}</p>
                    <p class="card-text">{{ etablissement.ville.nom }}</p>
                    {% for categorie in etablissement.categorie %}
                        <h6 class="m-4"> Catégorie(s) : {{ categorie.nom}} </h6>
                    {% endfor %}
                    <a  class="btn btn-primary" href="{{ path("app_etablissement_slug",{"slug": etablissement.slug}) }}">Détails</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="navigation d-flex justify-content-center mt-2">
        {{ knp_pagination_render(etablissements) }}
    </div>
{% endblock %}